
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  </head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <%= image_tag('leaguelogo.png', draggable: "false", id: "drag1") %>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
            <div class="control has-icons-left">
              <input class="input is-rounded" type="email" placeholder="Search for a champion">
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
          <a class="navbar-item is-active is-size-5 has-text-weight-semibold">
            Home
          </a>
          
            
             <%= link_to("Champions", controller:"champions", :class => "navbar-item is-size-5 has-text-weight-semibold") %>
          
          <a class="navbar-item is-size-5 has-text-weight-semibold">
            Classes
          </a>
        </div>
      </div>
    </div>
  </nav>
 
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by9">
              <%= image_tag('league_home.jpg', draggable: "false", id: "drag2") %>
            </figure>
          </div>
        </div>

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <%# <h2 class="subtitle is-4">December 25, 2018</h2> %>
                <h1 class="title">What is league of Legends</h1>
                <p>What is League of Legends? League of Legends is a team-based strategy game where two 
                teams of five powerful champions face off to destroy the other's base. Choose from over 140 champions
                 to make epic plays, secure kills, and take down towers as you battle your way to victory.</p>
              </div>
            </div>
          </div>
        </section>

        <div class="is-divider"></div>

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <%# <h2 class="subtitle is-4">December 25, 2018</h2> %>
                <h1 class="title">Clear The Path</h1>
                <p>Your team needs to clear at least one lane to get to the enemy Nexus.
                 Blocking your path are defense structures called turrets and inhibitors.
                  Each lane has three turrets and one inhibitor, and each Nexus is guarded by two turrets.</p>
              </div>
            </div>
          </div>
        </section>


      </div>
    </div>
  </section>


  

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> 
      </p>
    </div>
  </footer>
  </body>
</html>